*.classpath
*.project
.settings
target
.metadata
example
hello_world

recfun/lib_managed
recfun/project
recfun/sumbission
recfun/target

objsets/lib_managed
objsets/project
objsets/sumbission
objsets/target

funsets/lib_managed
funsets/project
funsets/sumbission
funsets/target

patmat/lib_managed
patmat/project
patmat/sumbission
patmat/target

/RemoteSystemsTempFiles
*.iml
.idea/
/pom.xml
